/* BODY */

body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
  font-weight: 600;
}

h2 {
  font-family: verdana;
  font-weight: 600;
}

p {
  font-family: verdana;
}

a {
  text-decoration: none;
  color: blueviolet;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 10px;
  height: 100vh;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  position: sticky;
}

.content-container {
  padding: 20px;
  width: 100%;
}

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* CSS */

.btn {
  background-color: #c2fbd7;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  font-family: verdana;
  padding: 7px 20px;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  margin: 0.5rem;
  width: 40vh;
  font-weight: 600;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* variables */

pre {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}
