/* BODY */

body {
    background-color: rgb(255, 255, 255);
  }
  
h1 {
    color: black;
    text-align: center;
    padding: 5vh;
    font-family: verdana;
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-family: verdana;
    font-weight: 600;
    font-size: 40px;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center
  }

  .item {
    flex: 0 0 auto;
    margin: 32px;
  }


/* CSS */
.btn {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: verdana;
    padding: 7px 20px;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    margin: 1rem;
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


#content {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#code {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code1 {
    width: 50%;
    padding: 10px;
    border: 5px solid gray;
    border-radius: 1rem;
    margin: 0;
    overflow-y: auto;
}

#types {
    display: flex;
    
}